.desktop {
    tr {
        border-color: $medium;
        background-color: $lightest;
    }
    .title-cell {
        width: 12%;
        min-width: 100px;
        font-size: 24px;
        background: -webkit-linear-gradient(left, $darkest, orange);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .button-cell {
        width: 10%;
        min-width: 100px;
    }
    .coin-icons {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .stat-heading, .stat, .coin-text {
        font-size: 14px;
    }
    .stat, .coin-text {
        font-weight: bold;
    }
    .btn-primary {
        background-color: $darkest;
        color: orange;
        font-weight: bold;
    }
    .btn-primary:hover {
        background-color: orange;
        color: $darkest;
        border-color: orange;
    }
    .title-url {
        text-decoration: none;
        color: $medium;
    }
    @media only screen and (min-width: 1200px) {
    .coin-text {
        width: 52%;
        }
    }
}