
.desktop {
    .table {
        min-height: 420px;
    }
    tr {
        border-color: $medium;
        background-color: $lightest;
    }
    td {
        padding: 8px;
        font-weight: bold;
        font-size: 14px;
    }
    .btn-primary {
        background-color: $attention;
        border-color: $attention;
        color: $darkest;
        font-weight: bold;
        margin-bottom: 8px;
    }
    .btn-primary:hover {
        background-color: $darkest;
        color: $attention;
        border-color: $darkest;
    }
    .coin-text {
        font-weight: light;
    }
    .title-url {
        text-decoration: none;
        color: $lightest;
    }
    .title-url:hover {
        color: $attention;
    }
    .title-cell {
        background: linear-gradient(to left, $medium, $dark);
        padding: 8px;
        font-size: 16px;
    }
}