@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;700&display=swap');

$darkest: #323545;
$dark: #3C457D;
$medium: #536ADE;
$light: #B1BBEC;
$lightest: #E6E8F4;
$attention: #34eb34;

$coin_icon_width: 18px;
$coin_icon_height: 18px;
$coin_icon_margin: 4px;