.mobile{
  background: $lightest;
  color: $darkest;
  width: 94%;
  border: 3px solid $light;
  border-radius: 2%;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  }
  .header-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .title-mobile {
      font-size: 20px;
  }
  .data-grid-mobile {
  font-size: 14px;
}
.cta-mobile {
  text-align:center;
  font-weight: bold;
  a {
      background: $attention;
      color: $darkest;
      border-color: $darkest;
      border-width: 2px;
      font-weight: bold;
      padding: 7px;
  }
}
.btn-container-mobile {
  button {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: -5px;
    background: $darkest;
    border: 2px solid $light;
    color: $light;
  }
}