.mobile {
  border-radius: 0!important;
  background-color: $darkest!important;
  .active {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nav-tabs, .nav-link, .nav-link:focus {
    outline: none;
    border: none!important;
    a {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .col-auto {
    padding-left: 0;
    padding-right: 0;
    background-color: $darkest;
  }
  .tab-content {
    background-color: $light;
  }
  .nav-link.active {
    background-color: $light!important;
  }
}



// .btn-container-mobile {
//   button {
//     position: absolute;
//     left:0;
//     right:0;
//     margin-left:auto;
//     margin-right:auto;
//     margin-top: -5px;
//     background: $darkest;
//     border: 2px solid $light;
//     color: $light;
//   }
// }